<td><a href="#" class="title"><%= title %></a></td>
<td><a href="#" class="content"><%= content %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>